* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: -2px 15px 15px 25px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  height: 130px;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000000cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:not(:last-child) {
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}

.output {
  margin-top: 20px;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.copy-button {
  width: auto;
  display: inline-block;
  background-color: #555;
  padding: 5px 10px;
  margin-left: 10px;
}

.copy-button:hover {
  background-color: #333;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}